# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info
dist/
build/
venv/
env/
.Python

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Migrations (opcional, descomentar si no quieres versionarlas)
# */migrations/*.py
# !*/migrations/__init__.py
